@page {
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 0.25in;
    margin-bottom: 0.25in;
  }
  table{
      width:6.5in;
  }
  img {
      width:6.5in;
  }
  th.header {
    font-size: 22px;
    font-weight: bold;
    height: 53px;
    padding: 0 10px 2in 10px;
    vertical-align: middle;
    text-align: center;
 }